body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:529px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  position:absolute;
  left:110px;
  top:94px;
  width:419px;
  height:547px;
}
#u124 {
  position:absolute;
  left:2px;
  top:266px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:142px;
  top:157px;
  width:361px;
  height:214px;
}
#u126 {
  position:absolute;
  left:2px;
  top:99px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:142px;
  top:406px;
  width:355px;
  height:152px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:152px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u128 {
  position:absolute;
  left:320px;
  top:607px;
  width:81px;
  height:25px;
}
#u128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u129 {
  position:absolute;
  left:425px;
  top:607px;
  width:81px;
  height:25px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u130 {
  position:absolute;
  left:186px;
  top:179px;
  width:81px;
  height:48px;
  font-size:20px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:48px;
}
#u132 {
  position:absolute;
  left:142px;
  top:100px;
  width:39px;
  height:47px;
}
#u133 {
  position:absolute;
  left:2px;
  top:16px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
