body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243 {
  position:absolute;
  left:96px;
  top:95px;
  width:444px;
  height:202px;
}
#u243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:202px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u244 {
  position:absolute;
  left:292px;
  top:323px;
  width:83px;
  height:25px;
}
#u244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u245 {
  position:absolute;
  left:430px;
  top:323px;
  width:79px;
  height:25px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
